[flake8]
inline-quotes = double
max-line-length = 88
max-complexity = 10
exclude = .git,
          .tox,
          .pytest_cache,
          __pycache__,
          tensorflow_graphics/projects/*
          tensorflow_graphics/submodules/*
ignore = C901,
         E101,
         E111,
         E114,
         E121,
         E124,
         E125,
         E126,
         E129,
         E221,
         E265,
         E271,
         E305,
         E306,
         E501,
         E502,
         E731,
         E741,
         F401,
         F812,
         W191,
         W503,
         W504,